[submodule "configs/.config/neovim_for_shorks"]
	path = configs/.config/nvim
	url = https://github.com/Sharkitty/neovim_for_shorks.git
[submodule "configs/.oh-my-zsh/custom/plugins/ohmyzsh-full-autoupdate"]
	path = configs/.oh-my-zsh/custom/plugins/ohmyzsh-full-autoupdate
	url = https://github.com/Pilaton/OhMyZsh-full-autoupdate.git
[submodule "configs/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = configs/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "configs/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = configs/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
